<div class="container">
  <h1 *ngIf="!lost && !checkWin()">Minesweep</h1>
  <h3>Games Played: {{games}}</h3>
  <h1 *ngIf="lost">You lost!</h1>
  <h1 *ngIf="checkWin()">You win!</h1>
  <div class="header">
    <h2>{{ opened }}</h2>
    <div *ngIf="!lost && !checkWin()" class="icon" (click)="restartGame()">
      ☺
    </div>
    <div *ngIf="lost" class="icon" (click)="restartGame()">☹</div>
    <div *ngIf="checkWin()" class="icon" (click)="restartGame()">😎</div>
    <h2>{{ minesLeft }}</h2>
  </div>

  <div class="table">
    <div>
      <div *ngFor="let row of cells" style="display: flex">
        <div
          *ngFor="let cell of row"
          class="cell"
          [ngClass]="{ opened: cell.isOpened, enabled: !cell.isOpened }"
          [ngClass]="['val' + cell.print()]"
          (click)="openMine(cell)"
          (contextmenu)="setFlag(cell)"
        >
          {{ cell.print() }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="inputs">
  <input type="number" placeholder="Rows" [(ngModel)]="rows" />
  <input type="number" placeholder="Cols" [(ngModel)]="cols" />
  <input type="number" placeholder="Mines" [(ngModel)]="mines" />
</div>
<div class="inputs">
  <button (click)="restartGame()">Change</button>
</div>

<div class="inputs">
  <button (click)="restartGame(6, 6, 6)">Easy</button>
  <button (click)="restartGame(10, 10, 10)">Medium</button>
  <button (click)="restartGame(14, 14, 14)">Hard</button>
</div>
